{% load staticfiles %}
<html>
<head>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/match.css' %}">

</head>
<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll logo-name" href="#page-top">Ottyr</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about"><h5>about</h5></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#features"><h5>features</h5></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact"><h5>contact</h5></a>
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </nav>
    <div class="content">
        <div class="row photo-overlay">
            <div class="col-md-12 carousel-inner">
                <img class="img-responsive img-100" src="{% static 'img/derpy college.jpg' %}" />
                <div class="carousel-caption photo-overlay-text">
                    <h2 class="logo-name logo-large">Ottyr</h2>
                    <br>
                    <h3><i>Finding stepping stones to the stars.</i></h3>
                    <br>
                    <button type="button" class="btn"><h4>learn more</h4></button>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row row-default row-blue">
            <h3 class="panel-header">Making quality matches isn't just for dating anymore.</h3>
        </div>
        <div class="row row-default">
            <div class="col-md-4">
                <img class="img-responsive" src="{% static 'img/app-gif holder.png' %}" />
            </div>
            <div class="col-md-8">
                <div class="FIX THIS" style="height:20px"></div>
                <p>At Ottyr, we are committed to changing the definition of finding mentorships from searching for question-answering guides to <b>making connections that inspire</b>. We are committed to breaking the barriers that currently stand in the way of finding the right mentor in college. </p>
                <p>In place of manually-matched pairs with little follow-up, we use cutting-edge algorithms and technology to connect people with their future mentors and mentees, creating friendships that make a difference and relationships that matter. No more “hi”-only mentors, awkward approaches, or lost time that could be used making a difference in a student’s career. <i>During their college experience, students who find mentors or mentees can find themselves stressed less over issues that are extremely detrimental academically, physically, and mentally.</i></p>
            </div>
        </div>
        <div class="row row-default row-blue">
            <div class="col-md-12">
                <p>(lalala holder)</p>
                <p>Mentors...
                    <ul>
                        <li>introduce new opportunities</li>
                        <li>greatly encourage the “learning mentality”</li>
                        <li>improve community integration</li>
                        <li>give advice from an experienced perspective</li>
                        <li>promote success by giving an understanding ear and supportive hand when the going gets tough
                    </ul>

                <p></p>
                <button type="button" class="btn btn-clear"><h4>See what students have to say about <span class="logo-name">Ottyr</span> ></h4></button>
            </div>
        </div>

        <div class="row row-default">
            <div class="col-md-12">
                
            </div>
        </div>
    </div>
</body>
</html>